.fileView{
    width: 100%;
}

.fileView__header{
    height: 250px;
    display: flex;
    align-items: center;
    margin-left: 280px;
    font-family: 'Montserrat';
    font-size: 32px;
    text-align: center;
}

.fileView__titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.fileView__titles>div>*{
    margin: 5px;
}

.fileView__titles--left{
    flex: 1;
    margin-left: 30px;
}

.fileView__titles--middle{
    margin-right: 600px;
    font-size: 30px;
}

.fileView__titles--right{
    display: flex;
}